Package: com.tonyciroussel.nocturne
Name: Nocturne
Depends: firmware (>= 7.0), mobilesubstrate
Version: 0.1b
Architecture: iphoneos-arm
Description: Don't burn your eyes
Maintainer: Tony Ciroussel
Author: Tony Ciroussel
Section: Tweaks
Homepage: https://akebu.github.io/cydia/depictions/?p=com.tonyciroussel.nocturne
Depiction: https://akebu.github.io/cydia/depictions/?p=com.tonyciroussel.nocturne
